.character_professions {
  .character_profession {
    margin-bottom: 2rem;

    .recipes {
      .recipe {
        margin-bottom: 0.25rem;

        label {
          a {
            color: #000;
          }
        }
      }
    }
  }
}
