footer {
  font-size: 0.8rem;

  .flex {
    justify-content: space-between;
  }

  .footer_block {
    flex: 1;

    a {
      color: #212529;

      &:hover {
        text-decoration: none;
      }
    }

    &:nth-of-type(2) {
      text-align: center;
    }

    &:nth-of-type(3) {
      text-align: right;
    }

    p {
      margin-bottom: 0.25rem;
    }
  }
}

.flag {
  display: inline-block;
  width: 25px;
  height: 16px;
  background: url(../../images/flags.png);
  margin-right: 4px;

  &.flag_ru {
    background-position: 0 0;
  }

  &.flag_en {
    background-position: 0 -16px;
  }
}