#guild_data_import {
  textarea {
    resize: none;
    font-size: 0.75rem;
    padding: 0.25rem;
  }
}

.banks {
  .filters {
    margin-bottom: 1rem;

    .form-group {
      margin-bottom: 0.5rem;

      label {
        margin-bottom: 0.25rem;
      }
    }
  }

  .bank {
    margin-bottom: 2rem;

    .bank_requests {
      .provided_amount {
        width: 40px;
      }
    }

    .bank_info {
      h3 {
        margin-bottom: 1rem;

        .bank_coins {
          font-size: 1rem;
        }
      }

      .bank_cells {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .bag {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .bank_cell {
            width: 54px;
            height: 54px;
            overflow: hidden;
            border-radius: 5px;
            border: 2px solid #ccc;
            margin-right: 2px;
            margin-bottom: 2px;
            position: relative;

            &.hidden {
              opacity: 0.3;
            }

            a {
              display: inline-block;
              width: 50px;
              height: 50px;

              img {
                width: 50px;
                height: 50px;
              }
            }

            .bank_cell_amount {
              position: absolute;
              bottom: 0;
              right: 0;
              background: #000;
              color: #fff;
              padding: 2px 4px;
              font-size: 1rem;
              line-height: 1;
            }
          }
        }
      }
    }
  }

  .new_bank_request {
    margin-bottom: 2rem;

    .fields {
      display: flex;
      flex-direction: row;

      .form-group {
        margin-right: 1rem;
      }
    }
  }
}
