#guild {
  .characters {
    table {
      tbody {
        td {
          &.management_buttons {
            select, button {
              display: inline-block;
              padding: 2px 5px;
            }

            select {
              width: 30%;
              height: 29px;
              margin-right: 5px;
            }
          }

          &.character_link {
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}