@import '../../init/variables.scss';

.guilds {
  .filters {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: 0.9rem;

    .filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
      margin-right: 1rem;

      p {
        margin: 0 4px 0 0;
      }

      select {
        font-size: 0.9rem;
      }
    }
  }

  table {
    thead {
      th {
        tr {
          &:nth-of-type(3) {
            width: 50%;
          }
        }
      }
    }

    tbody {
      tr {
        &.guild_link {
          &:hover {
            cursor: pointer;
          }

          td {
            &:nth-of-type(3) {
              width: 50%;

              p {
                margin: 0;
                font-size: 0.8rem;
                height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}
