@import '../../init/variables.scss';

.character {
  .character_recipes {
    .professions {
      .character_profession {
        .recipes {
          .recipe {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
