@import '../../init/variables.scss';

.character {
  .character_transfers {
    margin-bottom: 2rem;
  }

  .character_recipes {
    .professions {
      .character_profession {
        .recipes {
          .recipe {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }

  .equipment {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;

    .vertical {
      display: flex;
      flex-direction: row;

      .left {
        width: 50px;
      }

      .center {
        flex: 1;
      }

      .right {
        width: 50px;
      }
    }

    .horizontal {
      display: flex;
      justify-content: center;

      .slots {
        display: flex;
        flex-direction: row;
      }
    }

    .slot {
      width: 50px;
      height: 50px;
      border: 2px solid #f7f7f7;
      border-radius: 4px;
      overflow: hidden;

      a {
        display: block;
        width: 50px;
        height: 50px;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
