= javascript_pack_tag 'delivery_form'
.container
  = react_component('DeliveryForm', deliveriable_id: @deliveriable.id, deliveriable_type: @deliveriable.class.name, locale: I18n.locale.to_s, access_token: JwtService.new.json_response(user: Current.user)[:access_token])
