= javascript_pack_tag 'user_settings'
.container.settings
  = render 'components/settings_menu/settings_menu'
  = react_component('UserSettings', { locale: I18n.locale.to_s, access_token: JwtService.new.json_response(user: Current.user)[:access_token] }, { class: 'settings_content' })
