@import 'bootstrap';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic');
@import './datepicker.min.css';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

html {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
}

body {
  overflow-x: hidden;

  .flex {
    display: flex;
  }

  .flex-centered {
    justify-content: center;
    align-items: center;
  }

  .with_left_margin {
    margin-left: 0.5rem;
  }

  .with_right_margin {
    margin-right: 0.5rem;
  }

  .with_bottom_margin {
    margin-bottom: 0.5rem;
  }

  .with_top_margin {
    margin-top: 0.5rem;
  }

  .double_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .double_line {
      width: 49%;
    }

    .form-group, .block {
      width: 49%;
    }
  }

  .triple_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-group, .block {
      width: 32%;

      &.double {
        width: 66%;
      }
    }
  }

  .form-group {
    .time_selector {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      select {
        margin: 0 0.25rem;

        &:nth-of-type(1) {
          margin-left: 0;
        }

        &:nth-last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }

  .table {
    td {
      padding: 0.25rem;
      vertical-align: middle;
    }
  }

  .alliance {
    color: $alliance;
  }

  .horde {
    color: $horde;
  }

  table {
    tbody {
      tr {
        &.Druid {
          background: $druid;
        }

        &.Hunter {
          background: $hunter;
        }

        &.Mage {
          background: $mage;
        }

        &.Paladin {
          background: $paladin;
        }

        &.Priest {
          background: $priest;
        }

        &.Rogue {
          background: $rogue;
        }

        &.Shaman {
          background: $shaman;
        }

        &.Warlock {
          background: $warlock;
        }

        &.Warrior {
          background: $warrior;
        }
      }
    }
  }

  .alert {
    width: 50%;
    margin: 0 auto 1rem;
    padding: 0.5rem 1rem;

    p {
      margin: 0 0 0.5rem;
      font-size: 0.9rem;

      &:nth-last-of-type(1) {
        margin: 0;
      }
    }

    @media screen and (max-width: 796px) {
      width: 100%;
    }
  }

  .icon_social {
    display: inline-block;
    background: url(../images/icons.png);
    width: 32px;
    height: 32px;

    &.discord {
      background-position: 0 0;
      background-size: 32px 32px;
    }
  }
}

* {
  font-family: "Source Sans Pro", "Helvetica", "Open Sans", sans-serif !important;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}
