@import 'bootstrap';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic');
@import './datepicker.min.css';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

html {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
}

body {
  overflow-x: hidden;

  .flex {
    display: flex;
  }

  .flex-centered {
    justify-content: center;
    align-items: center;
  }

  .with_left_margin {
    margin-left: 0.5rem;
  }

  .with_right_margin {
    margin-right: 0.5rem;
  }

  .with_bottom_margin {
    margin-bottom: 0.5rem;
  }

  .with_top_margin {
    margin-top: 0.5rem;
  }

  .form-group {
    input[type="text"], textarea {
      &::placeholder {
        color: #ccc;
      }
    }

    .time_selector {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      select {
        margin: 0 0.25rem;

        &:nth-of-type(1) {
          margin-left: 0;
        }

        &:nth-last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }

  .table {
    margin-bottom: 0;
    font-size: 0.9rem;

    thead {
      tr {
        th {
          border-top: none;
          border-bottom: none;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0.25rem;
          vertical-align: middle;
        }
      }
    }
  }

  .alliance {
    color: $alliance;

    a {
      color: $alliance;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .horde {
    color: $horde;

    a {
      color: $horde;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .Druid {
    background: $druid;
  }

  .Hunter {
    background: $hunter;
  }

  .Mage {
    background: $mage;
  }

  .Paladin {
    background: $paladin;
  }

  .Priest {
    background: $priest;
  }

  .Rogue {
    background: $rogue;
  }

  .Shaman {
    background: $shaman;
  }

  .Warlock {
    background: $warlock;
  }

  .Warrior {
    background: $warrior;
  }


  .btn {
    &.btn-primary {
      background: #1779ba;
      color: #fefefe;

      &:hover {
        background: #14679f;
      }
    }

    &.btn-sm {
      padding: 0.1rem 0.25rem;
    }
  }

  .alert {
    p {
      margin: 0 0 0.5rem;
      font-size: 0.9rem;

      &:nth-last-of-type(1) {
        margin: 0;
      }
    }

    &.alert-alert {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }

    @media screen and (max-width: 796px) {
      width: 100%;
    }
  }

  .icon_social {
    display: inline-block;
    width: 32px;
    height: 32px;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .role_icons {
    display: flex;
    flex-direction: row;

    .role_icon {
      width: 26px;
      height: 26px;
      margin-right: 0.25rem;

      &.Tank {
        background: url(../images/all_icons.png);
        background-position: 0 -26px;
        background-size: 234px;
      }

      &.Healer {
        background: url(../images/all_icons.png);
        background-position: -26px -26px;
        background-size: 234px;
      }

      &.Melee {
        background: url(../images/all_icons.png);
        background-position: -52px -26px;
        background-size: 234px;
      }

      &.Ranged {
        background: url(../images/all_icons.png);
        background-position: -78px -26px;
        background-size: 234px;
      }
    }
  }

  .raid_planner {
    margin-top: 2rem;

    .raid_role {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 0.25rem 0;

      p {
        margin: 0;
        width: 75px;
      }

      .role_by_class {
        display: flex;
        flex-direction: row;
        margin-right: 0.5rem;

        .class_icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 0.25rem;

          &.warrior_class_icon {
            background: url(../images/all_icons.png);
            background-position: 0 0;
            background-size: 270px;
          }

          &.warlock_class_icon {
            background: url(../images/all_icons.png);
            background-position: -30px 0;
            background-size: 270px;
          }

          &.shaman_class_icon {
            background: url(../images/all_icons.png);
            background-position: -60px 0;
            background-size: 270px;
          }

          &.rogue_class_icon {
            background: url(../images/all_icons.png);
            background-position: -90px 0;
            background-size: 270px;
          }

          &.priest_class_icon {
            background: url(../images/all_icons.png);
            background-position: -120px 0;
            background-size: 270px;
          }

          &.paladin_class_icon {
            background: url(../images/all_icons.png);
            background-position: -150px 0;
            background-size: 270px;
          }

          &.mage_class_icon {
            background: url(../images/all_icons.png);
            background-position: -180px 0;
            background-size: 270px;
          }

          &.hunter_class_icon {
            background: url(../images/all_icons.png);
            background-position: -210px 0;
            background-size: 270px;
          }

          &.druid_class_icon {
            background: url(../images/all_icons.png);
            background-position: -240px 0;
            background-size: 270px;
          }
        }

        input {
          width: 40px;
          text-align: center;
          font-size: 0.9rem;
        }
      }
    }
  }

  .modal {
    background: rgba(0, 0, 0, 0.5);

    &.fade {
      display: none;

      &.show {
        display: block;
      }
    }
  }
}

* {
  font-family: "Source Sans Pro", "Helvetica", "Open Sans", sans-serif !important;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}
