// Color values
$alliance: #0C81CE;
$horde: #CD2B00;

$druid: #FF7C0A;
$hunter: #AAD372;
$mage: #68CCEF;
$paladin: #F48CBA;
$priest: #EEE;
$rogue: #FFF468;
$shaman: #2359FF;
$warlock: #9382C9;
$warrior: #C69B6D;

$white: #FFF;
$black: #000;
$light-grey: #efeff4;
$middle-grey: #77777a;

$red: #ff0000;
$blue-light: #cce5ff;
