@import '../../init/variables.scss';

.activities {
  .last_guild_activities {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .activity {
      width: 100%;
      border: 1px solid $light-grey;
      border-radius: 0.25rem;
      margin-bottom: 1rem;

      .title {
        background: $light-grey;
        padding: 0.5rem 1rem;
      }

      .description {
        padding: 1rem;

        .footer {
          margin-top: 0.5rem;
          text-align: right;
          font-size: 0.8rem;
          color: $middle-grey;
        }
      }
    }
  }

  .close_events {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .subscribe {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 10px;

      &:nth-of-type(even) {
        background: $light-grey;
      }

      p {
        margin: 0;

        &:nth-of-type(1) {
          width: 110px;
        }

        &:nth-of-type(2) {
          flex: 1;
        }

        &:nth-of-type(3) {
          margin-right: 20px;
        }
      }

      .status_icon {
        display: inline-block;
      }
    }
  }
}
