SECRET_KEY_BASE:
DISCORD_BOT_TOKEN:
DISCORD_CLIENT_ID:
DISCORD_CLIENT_SECRET:
SENDGRID_DOMAIN:
SENDGRID_USERNAME:
SENDGRID_PASSWORD:
ROOT_URL:
SKYLIGHT_LICENSE_KEY:
BUSGNAG_KEY: 

test:
  DISCORD_BOT_TOKEN:
