@import '../../init/variables.scss';

.character_form {
  width: 100%;
  height: 100%;
  background: $white;
  padding: 1rem;
  overflow-y: scroll;

  .block {
    margin-bottom: 1rem;

    h4 {
      margin-bottom: 0.75rem;
    }
  }

  .form-group {
    .professions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .form-group {
        width: auto;
        margin-bottom: 0.5rem;
        margin-right: 1rem;

        label {
          margin-bottom: 0;
        }
      }
    }
  }

  .secondary_roles {
    p {
      margin-bottom: 0.2rem;
    }

    .form-check {
      margin-bottom: 0.2rem;
      width: 100%;

      label {
        margin: 0;
      }
    }
  }
}