.invite_form_for_guild, .invite_form_for_character {
  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
  }

  .search {
    .form-control {
      margin-bottom: 1rem;
    }
  }
}
