#craft {
  .filters {
    margin: 2.5rem 0;
    font-size: 0.9rem;

    .filter-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        margin-right: 1rem;
        margin-bottom: 1rem;

        label {
          margin: 0 4px 0 0;
        }

        select {
          font-size: 0.9rem;
        }

        &.recipe {
          .search_recipe_block {
            position: relative;
            width: 300px;

            #query {
              width: 100%;
            }

            .search_recipe_results {
              position: absolute;
              left: 0;
              width: 100%;

              .value {
                width: 100%;
                background: #fff;
                border: 1px solid #eee;
                border-top: none;
                padding: 2px;

                &:hover {
                  cursor: pointer;
                  background: #e7e7e7;
                }
              }
            }
          }
        }
      }
    }
  }

  .characters {
    .character_link {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
