@import '../../init/variables.scss';

nav.navigation {
  z-index: 1;
  transition: .2s;

  &.collapsed {
    width: 55px;
    transition: .2s;
    overflow: hidden;

    footer {
      display: none;
    }
  }

  footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    min-width: 100%;
    margin-bottom: 0;

    .footer_block {
      margin-bottom: 0.25rem;
    }
  }

  .topbar {
    height: 45px;
    background: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .collapse {
    background: $white;
  }

  .navigation_block {
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 0;

    li {
      a {
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 55px;
        color: $middle-grey;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;

        &:hover {
          background: #dfdfe4;
          text-decoration: none;
        }

        &.active {
          color: #ff0000;
        }

        &.nav_icon {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            left: 15px;
          }

          &.characters {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: 0 -75px;
              background-size: 225px;
            }
          }

          &.guilds {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -25px -75px;
              background-size: 225px;
            }
          }

          &.statics {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -50px -75px;
              background-size: 225px;
            }
          }

          &.events {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -75px -75px;
              background-size: 225px;
            }
          }

          &.crafters {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -175px -50px;
              background-size: 225px;
            }
          }

          &.worlds {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -100px -75px;
              background-size: 225px;
            }
          }

          &.users {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -125px -75px;
              background-size: 225px;
            }
          }

          &.recipes {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -175px -75px;
              background-size: 225px;
            }
          }

          &.settings {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -150px -75px;
              background-size: 225px;
            }
          }

          &.exit {
            &:before {
              background: url(../../images/all_icons.png);
              background-position: -200px -50px;
              background-size: 225px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1199px) {
    border-bottom: 2px solid rgba(0, 0, 0, .05);

    .topbar {
      flex-direction: row-reverse;

      button.small-icon {
        padding: 0;
        border: none;

        &:focus {
          outline: none;
        }
      }

      button.shorter-icon {
        display: none
      }
    }

    .collapse {
      &.show {
        height: calc(100vh - 45px);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    position: sticky;
    height: 100vh;
    width: 300px;
    padding: 0;

    .navigation_block {
      width: 300px;
    }

    .topbar {
      button.small-icon {
        display: none;
      }

      button.shorter-icon {
        padding: 0;
        border: none;
        width: 55px;

        &:focus {
          outline: none;
        }
      }
    }

    .collapse {
      display: block;
      background: transparent;
      padding-top: 2rem;
    }
  }
}
