@import '../../init/variables.scss';

nav.navigation {
  width: 300px;
  padding: 0;

  .topbar {
    height: 45px;
    background: $white;
    margin-bottom: 2rem;
  }

  .navigation_block {
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 0;

    li {
      a {
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 40px;
        color: $middle-grey;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;

        &:hover {
          background: #dfdfe4;
          text-decoration: none;
        }

        &.active {
          color: #ff0000;
        }
      }
    }
  }
}
