@import '../../init/variables.scss';

.content {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;

  .inside {
    display: flex;
    flex-direction: column;
    flex: 1;

    main {
      display: flex;
      flex: 1;
      padding: 1rem;
      overflow: hidden;
    }
  }
}
