@import '../../init/variables.scss';

.content {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  background: $light-grey;

  .inside {
    display: flex;
    flex-direction: column;
    flex: 1;

    main {
      display: flex;
      flex: 1;
      padding: 1rem;
      overflow: hidden;

      > div {
        width: 100%;
        background: $white;
        padding: 1rem;
        overflow-y: scroll;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    min-height: 100vh;
    height: auto;
    flex-direction: column;
  }
}
