#statics {
  .invites, .own_statics, .statics {
    margin-bottom: 2rem;
  }

  .statics {
    .filters {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      font-size: 0.9rem;

      .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        margin-right: 1rem;

        p {
          margin: 0 4px 0 0;
        }

        select {
          font-size: 0.9rem;
        }
      }
    }

    .static_link {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .left_value {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;

    &.warrior {
      background: url(../../images/all_icons.png);
      background-position: 0 0;
      background-size: 270px;
    }

    &.warlock {
      background: url(../../images/all_icons.png);
      background-position: -30px 0;
      background-size: 270px;
    }

    &.shaman {
      background: url(../../images/all_icons.png);
      background-position: -60px 0;
      background-size: 270px;
    }

    &.rogue {
      background: url(../../images/all_icons.png);
      background-position: -90px 0;
      background-size: 270px;
    }

    &.priest {
      background: url(../../images/all_icons.png);
      background-position: -120px 0;
      background-size: 270px;
    }

    &.paladin {
      background: url(../../images/all_icons.png);
      background-position: -150px 0;
      background-size: 270px;
    }

    &.mage {
      background: url(../../images/all_icons.png);
      background-position: -180px 0;
      background-size: 270px;
    }

    &.hunter {
      background: url(../../images/all_icons.png);
      background-position: -210px 0;
      background-size: 270px;
    }

    &.druid {
      background: url(../../images/all_icons.png);
      background-position: -240px 0;
      background-size: 270px;
    }

    .role {
      position: absolute;
      top: 0;
      right: -4px;
      width: 14px;
      height: 14px;

      &.tanks {
        background: url(../../images/all_icons.png);
        background-position: 0 -14px;
        background-size: 126px;
      }

      &.healers {
        background: url(../../images/all_icons.png);
        background-position: -14px -14px;
        background-size: 126px;
      }

      &.dd {
        background: url(../../images/all_icons.png);
        background-position: -28px -14px;
        background-size: 126px;
      }
    }

    .amount {
      position: absolute;
      bottom: -4px;
      right: -4px;
      font-size: 0.5rem;
      line-height: 0.5rem;
      padding: 3px;
      background: #000;
      color: #fff;
      border-radius: 2px;
    }
  }
}
