#statics {
  .invites, .own_statics, .statics {
    margin-bottom: 2rem;
  }

  .statics {
    table {
      table-layout: fixed;

      thead {
        tr {
          th {
            &:nth-of-type(3) {
              width: 50%;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            &:nth-of-type(3) {
              width: 50%;
              white-space:nowrap;
              overflow:hidden;
              text-overflow:ellipsis;
            }
          }
        }
      }
    }
  }

  .own_statics {
    table {
      table-layout: fixed;

      thead {
        tr {
          th {
            &:nth-of-type(2) {
              width: 40%;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            &:nth-of-type(2) {
              width: 40%;
              white-space:nowrap;
              overflow:hidden;
              text-overflow:ellipsis;
            }
          }
        }
      }
    }
  }

  .statics {
    .filters {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      font-size: 0.9rem;

      .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        margin-right: 1rem;

        p {
          margin: 0 4px 0 0;
        }

        select {
          font-size: 0.9rem;
        }
      }
    }

    .static_link {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .left_value {
    position: relative;

    .amount {
      position: absolute;
      bottom: -4px;
      right: -4px;
      font-size: 0.5rem;
      line-height: 0.5rem;
      padding: 3px;
      background: #000;
      color: #fff;
      border-radius: 2px;
    }
  }
}
