= javascript_pack_tag 'line_up'
.container
  = react_component('LineUp', event_id: @event.id, event_is_open: @event.is_open?, is_owner: @event.owner&.user == Current.user, guild_role: @event.guild_role_of_user(Current.user.id), current_user_id: Current.user.id, locale: I18n.locale.to_s, access_token: JwtService.new.json_response(user: Current.user)[:access_token])
