@import '../../init/variables.scss';

.event {
  .copy_raid {
    display: flex;
    flex-direction: row;

    textarea {
      opacity: 0;
      font-size: 10px;
      margin-right: 0.5rem;
    }
  }

  .approving_box {
    position: fixed;
    top: 30%;
    right: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 0.9rem;

    p {
      margin: 0 0 0.5rem;
    }

    button {
      display: block;
      margin: 1rem auto 0;
    }
  }

  .event_details {
    margin-bottom: 2rem;

    .event_header {
      margin-bottom: 2rem;

      .event_name {
        text-align: center;
        font-size: 2.25rem;
      }

      p {
        &.event_location {
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }

    p {
      margin-bottom: 0.25rem;
      font-size: 0.8rem;
    }
  }

  .user_signers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    p, select, button {
      margin: 0 1rem 0 0;
    }

    select {
      width: 200px;
    }
  }

  .line_up {
    table {
      tbody {
        tr {
          &.empty_line {
            td {
              padding: 2px 0;
            }
          }

          td {
            button {
              margin: 0;
            }

            .buttons {
              display: flex;
              flex-direction: row;

              button {
                margin-right: 5px;
                padding: 2px 5px;
              }
            }

            &.comment_box {
              width: 159px;

              p {
                font-size: 0.75rem;
                opacity: 0.5;
                margin: 0;
                max-width: 159px;
                height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;

                &.user_comment {
                  &:hover {
                    cursor: pointer;
                  }
                }
              }

              textarea {
                width: 150px;
                height: 46px;
                font-size: 0.75rem;
                resize: none;
              }
            }

            .character_name {
              display: flex;
              flex-direction: row;
            }
          }
        }
      }
    }
  }

  .btn-plus, .btn-minus {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 3px;
  }

  .btn-plus {
    background: #fff url(../../images/plus-minus.png);
    background-position: 0 0;
    background-size: cover;
  }

  .btn-minus {
    background: #fff url(../../images/plus-minus.png);
    background-position: -30px 0;
    background-size: cover;
  }
}
