@import '../../init/variables.scss';

.event {
  .event_details {
    p {
      margin-bottom: 0.25rem;
      font-size: 0.9rem;

      &.event_name, &.event_location {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }

  .line_up {
    .line_name{
      margin: 1rem 0;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .signed, .rejected, .unknown {
      .user_signers {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;

        p, select, button {
          margin: 0 1rem 0 0;
        }

        select {
          width: 200px;
        }
      }

      table {
        tbody {
          tr {
            &:nth-of-type(1) {
              td {
                &.character_name {
                  border: none;
                }
              }
            }
          }
        }
      }
    }

    .signed, .rejected, .approved, .unknown {
      margin-bottom: 2.5rem;

      table {
        tbody {
          tr {
            td {
              button {
                margin: 0;
              }

              &.role_name {
                text-align: center;
                font-weight: 600;
              }

              .buttons {
                display: flex;
                flex-direction: row;

                button {
                  margin-right: 5px;
                }
              }

              .character_name {
                display: flex;
                flex-direction: row;

                .role_icons {
                  display: flex;
                  flex-direction: row;
                  margin-left: 1rem;
                  margin-top: 2px;

                  .role_icon {
                    width: 26px;
                    height: 26px;
                    margin-right: 0.25rem;

                    &.Tank {
                      background: url(../../images/tank.png);
                      background-size: cover;
                    }

                    &.Healer {
                      background: url(../../images/healer.png);
                      background-size: cover;
                    }

                    &.Melee {
                      background: url(../../images/melee.png);
                      background-size: cover;
                    }

                    &.Ranged {
                      background: url(../../images/melee.png);
                      background-size: cover;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
